m4
autom4te.cache
config.guess
config.h.in*
config.sub
configure
install-sh
ltmain.sh
missing
aclocal.m4
depcomp
config.h
config.log
config.status
config.status.lineno
libtool
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
libgpointing-device-settings.pc
coverage
coverage.info
*.gcno
data/touchpad.ui
po/Makefile.in.in
po/POTFILES
po/gpointing-device-settings.pot
po/stamp-it
src/gpointing-device-settings
