m4
autom4te.cache
config.guess
config.h.in*
config.sub
configure
install-sh
ltmain.sh
missing
aclocal.m4
depcomp
config.h
config.log
config.status
config.status.lineno
libtool
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
libgpointing-device-settings.pc
coverage
coverage.info
*.gcno
*.gcda
data/touchpad.ui
data/mouse.ui
data/gpointing-device-settings_gnome_settings_daemon.schemas
po/Makefile.in.in
po/POTFILES
po/gpointing-device-settings.pot
po/stamp-it
po/.intltool-merge-cache
src/gpointing-device-settings
modules/gnome-settings-daemon-plugins/pointing-device.gnome-settings-plugin
